
.cardImg {
  padding: 30px;
  background-color: rgb(32, 204, 187);
  border-radius: 10px;
}

.noImg {
  display: flex;
  padding: 15px;
  background-color: rgb(30, 156, 210);
  border-radius: 10px;
  
}

.cardText {
  display: flex;
  padding: 15px;
  margin-top: 10px;
  background-color: rgb(5, 186, 199);
  border-radius: 10px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  justify-content: center;
  text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;color:#fff;
 
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-style: oblique;
  justify-content: center;
  text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;color:#fff;
 
}

.block {
  display: flex;
  margin: auto;
}

button {
  background-color: rgb(130, 126, 196);
  justify-content: space-between;
  font-size: 30px;
}